/* @font-face {
  font-family: 'Arial';
  src: url("../fonts/Arial-Regular.otf"); }
@font-face {
    font-family: 'Arial Medium';
    src: url("../fonts/Arial-Medium.otf"); }
@font-face {
  font-family: 'Arial Bold';
  src: url("../fonts/Arial-Bold.otf"); } */
  body {
    font-family: "Arial", sans-serif;
    background-color: white;
    color: #000;
    padding-left: 76px;
    padding-bottom: 80px; }
  
  p, ul, ol, li {
    font-family: "Arial", sans-serif;
    /* border: 1px black solid; */
  }
  
  h1 {
    font-size: 20px;
    line-height: 20px;
    font-family: "Arial", sans-serif;
    /* border: 1px solid red; */
  }
  
  h2 {
    font-size: 25px;
    line-height: 25px;
    font-family: "Arial Bold", sans-serif;
  }
  
  p {
    font-size: 17px;
    line-height: 17px;
  }
  
  li {
    font-size: 17px;
    line-height: 17px;
  }
  
  #content {
    width: 100%;
    text-align: center;
  }
  
  .creator_image {
    border: 5px solid white;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    position: relative;
    vertical-align: middle;
  }
  
  .img-back {
    z-index: 1;
    height: 60px;
    width: 60px;
  }
  
  .img-middle {
    z-index: 2;
    height: 80px;
    width: 80px;
  }
  
  .img-front {
    z-index: 3;
  }
  
  .creator_image:hover {
    transform: scale(1.1, 1.1);
  }
  
  #sound_img {
    width: 150px;
    height: 70px;
  }
  
  .center {
    text-align: center; }
  
  .header-row h2 {
    margin-top: 63px; }
  .header-row p {
    float: right;
    margin-right: 76px;
    margin-top: 63px; }
    .header-row p a {
      color: #000; }
  
  .main-row {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    /* border: 1px red solid; */
  }
    .main-row p:nth-child(3) {
      margin-top: 36px; }
    .main-row ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
      margin-top: 9px; }
      .main-row ul li {
        width: 460px;
        height: 50px;
        line-height: 47px;
        border: 2px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 100px;
        border: 1px red solid;
        margin-top: 31px; }
    .main-row form {
      width: 100%;
      text-align: center;
    }
    .main-row form .border-container {
      display: inline-block;
      background: #0094FF;
      width: 460px;
      height: 50px;
      border-radius: 10px;
      text-align: center;
    }
    .main-row form input[type="email"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      font-family: "Arial", serif;
      font-weight: 500;
      appearance: none;
      width: 452px;
      height: 42px;
      margin-top: 2px;
      border-radius: 8px;
      background-color: white;
      padding: 2px;
      border: none;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: #0094FF; }
      .main-row form input[type="email"]:focus {
        outline: none;}
      .main-row form input[type="email"]::placeholder {
        background: #0094FF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 17px;
        line-height: 17px;
        text-align: center; }
    .main-row form button[type="submit"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #fff;
      font-family: "Arial", sans-serif;
      font-weight: 600;
      font-size: 17px;
      width: 157px;
      height: 50px;
      /* margin-left: 14px; */
      background: #0094FF;
      border-radius: 100px;
      margin-top: 20px;
      border: none; }
  
  .bold {
    font-family: "Arial Bold", sans-serif; }
  
  .player1, .player2, .player3 {
    display: none; }
  
  .player {
    text-align: center;
    /* border: 1px blue solid; */
    font-family: "Arial Bold", sans-serif;
    position: relative;
    /* top: -10px; */
    height: 50px;
    width: 50px;
    transform: translateY(-60%); }
    /* .player img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      display: inline-flex; } */
    .player h2 {
      font-size: 25px;
      line-height: 25px;
      margin-top: 16px; }
  
  @media (min-width: 768px) {
    .player {
      float: left; }
      .player .button-container {
        /* position: absolute; */
        top: 10px;
        } }
  .container {
    width: 100%;
    text-align: center;
    padding-bottom: 10px; }
  
  .progress, .progress1 {
    width: 0px;
    height: 8px;
    background: -webkit-linear-gradient(bottom left, #C145FC 0%, #3419D9 100%);
    background: -o-linear-gradient(bottom left, #C145FC 0%, #3419D9 100%);
    background: linear-gradient(to top right, #C145FC 0%, #3419D9 100%);
    transition: width .1s linear; }
  
  .togglePlay, .play-button {
    font: 0/0 a;
    color: transparent;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 10px auto 0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: poArial;
    transition: transform 150ms ease-out;
    background: white; }
    .togglePlay:after, .play-button:after {
      box-sizing: border-box;
      display: block;
      content: '';
      width: 0;
      height: 0;
      /* margin-left: 0px; */
      border-color: transparent;
      border-style: solid;
      border-top-width: 16px;
      border-bottom-width: 16px;
      border-left-width: 19px;
      border-left-color: #000; }
    .togglePlay:hover, .play-button:hover {
      transform: scale(1.05); }
    .togglePlay.active:after, .play-button.active:after {
      width: 21px;
      height: 26px;
      margin-left: 0;
      border-width: 0 7px;
      border-color: #000; }
  
  /* @media (min-width: 768px) {
    .play-button {
      padding-left: 20px; } }
  .button-container {
    height: 80px;
    margin-top: 0px; } */
  
  .pause-button {
    color: transparent;
    background: white;
    width: 21px;
    height: 30px;
    margin-left: 0;
    border-width: 0 7px;
    border-color: #000;
    margin-top: 10px; }
  
  @media (max-width: 767px) {
    .pause-button {
      margin-top: 10px; } }
  .success-message {
    width: 100%;
    }
  
  @media (max-width: 767px) {
    .main-row form button[type="submit"] {
      margin-top: 23px; }
  
    body {
      padding-left: 23px; }
  
    .header-row h2 {
      margin-left: 0; }
  
    ul li {
      max-width: 90%;
      margin: 0 auto; }
  
    .header-row h2 {
      margin-top: 23px;
      text-align: left; }
    .header-row p {
      margin-right: 23px;
      margin-top: 23px; }
  
    .border-container {
      max-width: 90%; }
  
    .success-message {
      width: 100%; }
  
    .main-row form input[type="email"] {
      max-width: 97.5%; }
  
    .player {
      margin-top: -10px;
      padding-bottom: 50px; } }
  /* @media (min-width: 768px) and (max-width: 1053px) {
    .main-row form button[type="submit"] {
      margin-top: 23px; } }
  @media (max-width: 651px) {
    .main-row form button[type="submit"] {
      margin-top: 23px; } } */
  /* @media (max-width: 550px) {
    h1 {
      font-size: 25px; }
  
    h2, p, li {
      font-size: 18px; }
  
    .main-row form input[type="email"] {
      font-size: 18px; }
      .main-row form input[type="email"]::placeholder {
        font-size: 18px; }
  
    .main-row form button[type="submit"] {
      font-size: 18px; } }
  @media (max-width: 350px) {
    .main-row form input[type="email"] {
      font-size: 14px; }
      .main-row form input[type="email"]::placeholder {
        font-size: 14px; }
  
    .main-row form button[type="submit"] {
      font-size: 14px; } } */
  #progressbar1 {
    width: 0;
    height: 8px;
    background-color: red; }
  
  progress {
    background: #fff;
    height: 8px;
    border-radius: 10px;
    width: 243px; }
  
  progress::-webkit-progress-bar {
    background: #fff;
    height: 8px;
    border-radius: 10px;
    width: 243px; }
  
  progress::-webkit-progress-value {
    background: -webkit-linear-gradient(bottom left, #C145FC 0%, #3419D9 100%);
    background: -o-linear-gradient(bottom left, #C145FC 0%, #3419D9 100%);
    background: linear-gradient(to top right, #C145FC 0%, #3419D9 100%);
    border-radius: 10px; }
  
  progress::-moz-progress-bar {
    background: #fff;
    height: 8px;
    border-radius: 10px;
    width: 243px; }
  
  /* @media (min-width: 1800px) {
    h1 {
      font-size: 35px;
      line-height: 35px; }
  
    h2 {
      font-size: 30px;
      line-height: 30px; }
  
    p {
      font-size: 30px;
      line-height: 35px; }
  
    li {
      font-size: 25px;
      line-height: 25px; } } */
  /* @media (min-width: 2000px) {
    h1 {
      font-size: 38px;
      line-height: 38px;}
  
    h2 {
      font-size: 34px;
      line-height: 34px; }
  
    p {
      font-size: 34px;
      line-height: 38px; }
  
    li {
      font-size: 28px;
      line-height: 28px; } } */
  @media (min-width: 2200px) {
    body {
      padding-left: 120px;
      padding-right: 120px; } }
  @media (min-width: 768px) and (max-width: 900px) {
    body {
      padding-left: 20px; }
  
    .header-row p {
      margin-right: 20px; }
  
    progress {
      width: 200px; }
  
    progress::-webkit-progress-bar {
      width: 200px; }
  
    progress::-moz-progress-bar {
      width: 200px; } }
  .main-row ul {
    position: relative;
    width: 100%;}
    .main-row ul #player1 {
      position: absolute;
      right: 0;
      top: 30px; }
    .main-row ul #player2 {
      position: absolute;
      right: 0;
      top: 112px; }
    .main-row ul #player3 {
      position: absolute;
      right: 0;
      top: 192px; }
  
  .player {
    float: left; }
  
  @media (max-width: 767px) {
    .main-row ul li {
      float: left; }
  
    /* .border-container {
      margin-top: 50px; } */
  
    .main-row ul {
      width: 100%; }
      .main-row ul #player1, .main-row ul #player2, .main-row ul #player3 {
        right: 60px; }
      .main-row ul #player1 {
        top: 105px; }
      .main-row ul #player2 {
        top: 203px; }
      .main-row ul #player3 {
        top: 295px; } }
  @media (max-width: 680px) {
    .main-row ul #player1, .main-row ul #player2, .main-row ul #player3 {
      right: 20px; } }
  @media (max-width: 640px) {
    ul li {
      max-width: 60%; }
  
    .main-row ul #player1, .main-row ul #player2, .main-row ul #player3 {
      right: 60px; } }
  @media (min-width: 570px) and (max-width: 640px) {
    .border-container {
      max-width: 60%; } }
  @media (max-width: 530px) {
    ul li {
      max-width: 70%; }
  
    .main-row ul #player1, .main-row ul #player2, .main-row ul #player3 {
      right: 20px; } }
  @media (max-width: 480px) {
    .player img {
      width: 70px;
      height: 70px; } }
  @media (max-width: 420px) {
    body {
      padding-left: 10px; }
  
    .player img {
      width: 70px;
      height: 70px; }
  
    .main-row ul #player1, .main-row ul #player2, .main-row ul #player3 {
      right: 10px; }
    .main-row ul #player1 {
      top: 110px; }
    .main-row ul #player2 {
      top: 208px; }
    .main-row ul #player3 {
      top: 300px; } }
  @media (max-width: 420px) {
    body {
      padding-left: 8px; }
  
    .player img {
      width: 70px;
      height: 70px; }
  
    .main-row ul #player1, .main-row ul #player2, .main-row ul #player3 {
      right: 6px; } }
  
  /*# sourceMappingURL=app.css.map */
  