:root {
    /* Colors */
    --primary: #58C0FA;
    --primary-dim: rgb(83, 167, 212);
    --primary-faded: rgba(88, 192, 250, .5);
    --gray-dark: #141313;
    --gray-light: #262424;
    --gray-x-light: #464444;
    --white: #FFFFFF;
    --white-faded: #CCCCCC;
    --black: #000000;
    --background-gradient:  linear-gradient(to bottom right, #0094FF 15%, rgb(109, 46, 255), rgb(112, 214, 255), rgb(109, 46, 255), #0094FF);
    --radius-small: 0.5rem;
    --radius-medium: 1rem;
    --radius-circle: 5rem;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

html, body {
    font-size: 18px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    background-image: var(--background-gradient);
    background-size: 400% 400%;
    animation: colorchange 20s ease infinite;
    -webkit-animation: colorchange 20s ease 0s infinite alternate;
}

@-webkit-keyframes colorchange {
    0%{background-position:0% 0%}
    25%{background-position:25% 25%}
    50%{background-position:50% 50%}
    75%{background-position:75% 75%}
    100%{background-position:100% 100%}
}
@-moz-keyframes colorchange {
    0%{background-position:0% 0%}
    25%{background-position:25% 25%}
    50%{background-position:50% 50%}
    75%{background-position:75% 75%}
    100%{background-position:100% 100%}
}
@keyframes colorchange {
    0%{background-position:0% 0%}
    25%{background-position:25% 25%}
    50%{background-position:50% 50%}
    75%{background-position:75% 75%}
    100%{background-position:100% 100%}
}

.pt-2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.test {
    font-size: 5rem;
    color: var(--primary);
}

/* Typography */

a {
    color: var(--white);
    transition: 0.5s ease;
}

a:hover {
    color: var(--white-faded);
}

p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.2;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
    font-weight: 600;
    letter-spacing: 0.2;
}

.gray-x-light {
    color: var(--gray-x-light);
}

/* Buttons */

.btn {
    font-size: 1rem;
    border: none;
    border-radius: var(--radius-circle);
}

.btn-sm {
    padding: 0.25rem 0.5rem;
}

.btn-md {
    padding: 0.45rem 1.5rem;
}

.btn-lg {
    padding: 0.75rem 4rem;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    border: none;
    transition: 0.5s;
    box-shadow: none;
    background-color: var(--primary-dim);
}

#header-coming-soon {
    font-size: 0.8rem;
}

#header-contact {
    font-size: 1rem;
}

/* Page Structure */

hr.solid {
    background-color: var(--gray-x-light);
}

.navbar-brand-image {
    width: 50px;
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
}

.nav-item {
    padding-left: 2rem;
}

.nav-link {
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}

.nav-spacer {
    width: 100%;
    height: 55px;
}

section .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.side-scroll-container {
    overflow: scroll;
}

.side-scroll {
    min-width: 700px;
}

.side-scroll-bumper {
    z-index: 2000;
    width: 45px;
    position: absolute;
    right: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(20, 19, 19, 0), rgba(20, 19, 19, 1));
}

/* Iconography */

.icon-container {
    display: inline-block;
    padding: 0.5rem;
    border-radius: var(--radius-circle);
}

.active .icon-container {
    background-color: var(--primary-faded);
}

/* Form */

input {
    outline: none;
    border-radius: var(--radius-small);
    padding: 0.5rem;
    transition: 0.3s ease;
    border: 1px solid white;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    text-align: center;
    vertical-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

#waitlist-email {
    /* width: 50%; */
}

#waitlist-email::placeholder {
    color: rgba(255, 255, 255, .6);
}

#waitlist-submit {
    border-radius: var(--radius-circle);
    /* width: 20%; */
    border: 1px solid white;
    color: white;
    background-color: rgba(255, 255, 255, .1);
    text-align: center;
    vertical-align: center;
    line-height: 100%;
    margin-top: 0.5rem;
}

/* input:hover {
    border: 2px solid var(--primary);
} */

.waitlist-success {
    font-family: 'DM Sans', sans-serif;
}

#invalid-email, #valid-email {
    display: none;
}

#invalid-email span {
    color: red;
}

#valid-email span {
    color: #40F99B;
}

/* List */

.list-item {
    cursor: pointer;
}

.list-item .description {
    height: 100px;
    opacity: 0;
    transition: 0.3s ease;
}

.list-item.active .description {
    height: auto;
    opacity: 1;
}

.list-title {
    margin-top: 0.5rem;
}

/* Animation */

.reveal {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -ms-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

.reveal.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.features-image {
    position: absolute;
    top: -50px;
    opacity: 0;
    transform: translateX(-100px);
}

.features-image.active {
    transform: none;
    opacity: 1;
    transition: 1.0s ease;
}

#planet-gif {
    z-index: 1;
    width: 100%;
}

#pludo-logo {
    z-index: 1;
    width: 15%;
}

#app-store-img {
    overflow: visible;
}

#planet-gif-filler {
    z-index: 1;
    height: 375px;
    width: 100%;
}

#beanbag-gif {
    z-index: -1;
}

.beanbag-container {
    margin-top: -5rem;
}

.loading-container {
    z-index: 2000;
    background-color: var(--gray-dark);
}

.progress {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 10px;
}

.progress-bar {
    background-color: var(--gray-dark);
}

/* Breakpoints */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    html {
        font-size: 14px;
    }

    section .container {
        padding: 4rem 30px;
    }

    .nav-item {
        padding-left: 1rem;
    }

    .list-title {
        margin-top: 0.75rem;
        font-size: 1.5rem;
    }

    .navbar {
        padding-top: 1.5rem;
    }

    .navbar-brand-image {
        width: 60px;
    }

    .headline {
        font-size: 2rem;
    }

    .features-image-container {
        min-height: 375px !important;
    }

    .features-image-container .features-image {
        max-height: 375px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .features-image-container {
        min-height: 500px;
    }

    .features-image-container .features-image {
        max-height: 500px;
        top: auto;
        bottom: 0;
    }

    #planet-gif {
        width: 50%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .beanbag-container {
        margin-top: -2rem;
    }
}